$white: white;
$black: black;
$orange: #fb7413;
$lightGrey: #959eac;
$mediumGrey: #7c8798;
$darkBlue: #252d37;
$veryDarkBlue: #121417;

body {
  background-color: $veryDarkBlue;
  h1 h2 p {
    margin: 0;
  }
}

.mainContainer {
  padding: 0 2rem;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  min-height: 90vh;
}

.feedbackDiv {
  border-radius: 1rem;
  background-image: radial-gradient(
    farthest-side at 50% -10%,
    #222933,
    #1d242e,
    #181e28
  );
  padding: 1.8rem 1.5rem;
  box-shadow: 0 0 2px 1px rgba (0, 0, 0, 0.2);
  width: 28rem;
  max-width: 28rem;
  height: 25rem;
}

.feedbackDisplayDiv {
  @extend .feedbackDiv;
  max-width: 25rem;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
}

.containerDiv {
  display: flex;
  flex-direction: 'column';
  align-items: center;
  justify-content: space-between;
  padding: 0 0 25px 0;
  color: $mediumGrey;
  font-size: 20px;
}

.selected {
  background-color: $lightGrey;
}

.roundDiv {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252d37;
  border-radius: 50%;
  box-shadow: 0 0 2px 1.7px rgb(0 0 0 / 10%);
}

.roundDivHover {
  @extend .roundDiv;
  width: 3.7rem;
  height: 3.8rem;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.starIcon {
  color: $orange;
}

.messageDiv {
  gap: 1.7rem;
}
.ratingHeader {
  color: $white;
  font-size: 18px;
}

.ratingContent {
  color: $mediumGrey;
  font-size: 20px;
  margin: 0;
}

.showRatingDiv {
  color: $orange;
  width: 15rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252d37;
  border-radius: 2rem;
  box-shadow: 0 0 2px 1.7px rgb(0 0 0 / 10%);
  font-size: 20px;
}

.showThankyouDiv {
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: center;

  p {
    color: #7c8798;
    text-align: center;
    font-size: 19px;
    padding: 0 18px;
    margin: 0;
    line-height: 1.7rem;
  }
}

button {
  color: $orange;
  font-size: 18px;
  border: 0;
  width: 100%;
  height: 60px;
  border-radius: 2rem;
  padding: 0.8rem 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: transform 0.2s;
  letter-spacing: 0.1rem;
  background-color: $white;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}
